html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Proxima Nova, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000;
  background-color: #FFF;
}

body {
  min-height: 100vh;
}
