.home {
  display: flex;
  min-height: 100vh;

  :global .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 20px;

    @include media(md) {
      gap: 30px;
    }

    @include media(lg) {
      flex-direction: row;
      gap: 40px;
    }
  }
}

.title {
  font-weight: 800;
  font-size: 35px;
  line-height: 110%;
  background: linear-gradient(177deg, #e51726 0%, #d4208c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  @include media(sm) {
    font-size: 77px;
  }

  @include media(md) {
    margin-bottom: 50px;
  }
}

.imageWrapper {
  img {
    width: 100%;
    height: auto;
  }
}

.infoWrapper {
  flex: 1;
  width: 100%;
  margin-right: auto;

  .info {
    width: fit-content;
  }

  @include media(md) {
    margin-right: unset;

    .info {
      margin: 0 auto;
    }
  }
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  margin-top: 16px;

  @include media(sm) {
    gap: 20px;
  }

  @include media(md) {
    margin-top: 23px;
  }

  .listNumber {
    font-weight: 800;
    font-size: 33px;
    background: linear-gradient(177deg, #e51726 0%, #d4208c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media(sm) {
      font-size: 55px;
    }
  }

  .listText {
    font-weight: 600;
    font-size: 18px;
    color: #3a3a3a;

    @include media(sm) {
      font-size: 38px;
    }
  }
}